.px-textfield {
    font-size: 18px;
    width: 400px;
    background-color: transparent;
    border: none;
    color: inherit;
    border-bottom: white 2px solid;
    padding-bottom: 4px;
}

.px-textfield.px-short {
    width: 100px;
}