/* Icon button */

.px-icon-button {
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    padding: 8px 8px;
}

.px-icon-button:hover {
    color: #e0e0e0;
}

/* Action button */

.px-action-button {
    --bg-color: brown;
    --bg-color-hover: var(--bg-color);
    background-color: var(--bg-color);

    display: inline-block;

    margin-right: 12px;
    margin-bottom: 12px;
    padding: 8px 16px;

    border-radius: 200px;
    border: none;

    color: white;
    font-size: 15px;
    font-family: 'Fira Sans';
    font-weight: 500;

    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    transition-property: background-color, color;

    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
}

.px-action-button:hover {
    background-color: var(--bg-color-hover);
}

.px-action-button > i {
    margin-right: 6px;
}

.px-action-button.px-button-bordered {
    border: 2px solid;
    padding: 6px 14px;
    font-weight: 400;

    background: none;
    border-color: var(--bg-color);
    color: var(--bg-color);
}

.px-action-button.px-button-bordered:hover {
    color: white;
    background: var(--bg-color-hover);
    border-color: var(--bg-color-hover);
}

.px-action-button.px-button-icon-only {
    padding: 8px 10px;
}

.px-action-button.px-button-icon-only > i {
    margin-right: 0px;
}

.px-form-bottom-bar .px-action-button {
    margin-bottom: 0;
}

/* Standard button styles */

.px-action-button.px-button-ok {
    --bg-color: #4dbc59;
    --bg-color-hover: #16913f;
}

.px-action-button.px-button-cancel {
    --bg-color: #b43a3a;
    --bg-color-hover: #892121;
}