.px-gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
}

.px-gallery-row:not(:last-child) {
    margin-bottom: var(--padding);
}

.px-gallery-row {
    display: flex;
    flex: 1 1 100%;
    --effective-padding-coeff: calc(var(--padding) / var(--row-width));
}

.px-thumb:not(:last-child) {
    margin-right: var(--padding);
}

.px-thumb {
    --effective-width: calc(var(--width) / var(--height) * var(--row-height));
    --effective-height: calc(var(--row-height) / var(--row-width) * 100%);
    padding-top: calc(var(--row-height) / var(--row-width) * 100%);
    height: 0;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: calc(var(--effective-width) / var(--row-width-clean) * 100%);
    background-size: cover;

    position: relative;

    filter: brightness(0.9);

    transition-timing-function: ease-out;
    transition-duration: 0.1s;
    transition-property: transform, box-shadow, filter;

    --bar-height: 40px;
    --bar-padding: 7px;
}

.px-thumb.px-thumb-video {
    overflow: hidden;
}

.px-thumb:hover {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    filter: brightness(1);
}

.px-thumb video {
    width: 100%;
    transform: translateY(-100%);
    position: relative;
}

/* Action bar */

.px-thumb .px-thumb-bar {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: var(--bar-height);
    pointer-events: none;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);

    transition-timing-function: ease-out;
    transition-duration: 0.1s;
    transition-property: background-color, transform, opacity;

    transform: translateY(var(--bar-height));
    opacity: 0;
}

.px-thumb .px-thumb-bar .px-icon-button {
    font-size: calc(var(--bar-height) - 16px);
}

.px-thumb:hover .px-thumb-bar {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.65);
    transform: translateY(0px);
    pointer-events: inherit;
}

/* Frosting */

.px-thumb > .px-thumb-blurred {
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    background-size: cover;
    filter: blur(4px);
    clip-path: inset(calc(100% - var(--bar-height)) 0 0 0);

    transition-timing-function: ease-out;
    transition-duration: 0.1s;
    transition-property: opacity;

    opacity: 0;
}

.px-thumb > .px-thumb-blurred {
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    background-size: cover;
    filter: blur(4px);
    clip-path: inset(calc(100% - var(--bar-height)) 0 0 0);
}

.px-thumb:hover > .px-thumb-blurred {
    opacity: 1;
}

/* Fav button */

.px-icon-button.px-fav-icon-active {
    color: var(--main-color);
}

.px-icon-button.px-fav-icon-active:hover {
    color: var(--main-color);
    opacity: 0.8;
}