.px-login {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.px-login-panel {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    border-radius: 12px;
}

.px-login-panel > :not(:last-child) {
    margin-bottom: 8px;
}