@import "util.css";
@import "window.css";
@import "button.css";

html {
    --main-color: #f03774;
    --background-color: #242424;
}

body {
    margin: 0;
    font-family: 'Fira Sans';
    background-color: var(--background-color);
    color: white;
}

h1 {
    font-size: 46px;
}

.px-space-top {
    padding-top: 8px;
}

.px-page-header {
    background-color: var(--main-color);
    padding: 16px 36px;
    position: fixed;
    top: 0px;
    width: 100%;
    box-shadow: 0px 1px 16px 3px rgba(0, 0, 0, 0.35);
    z-index: 10000;
    display: flex;
    box-sizing: border-box;
    color: white;
}

.px-page-header .px-page-title {
    display: inline-block;
    font-size: 18px;
    font-family: "Open Sans";
    font-weight: 600;
    margin-right: 18px;
}

.px-page-header a {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    align-self: center;
    margin-left: 16px;
}

.px-page-header .px-page-logo {
    height: 32px;
    transform: scaleX(1.1);
}

.px-page-header .px-search-box {
    flex: 0 1 360px;
}

.px-page-header .px-user-name {
    display: inline;
    align-self: center;
    font-weight: 500;
}

.px-center-container {
    flex: 1;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.px-page-body {
    margin: 76px 12px 0;
}