.px-post-content > * {
    object-fit: contain;
    object-position: left;
}

.px-post-view-fit {
    width: 100%;
    height: 100%;
}

.px-post-preview-container {
    position: relative;
}

.px-post-preview-container-video {
    display: flex;
    justify-content: center;
}

img.px-post-preview {
    object-fit: contain;
    object-position: center;
    height: 100%;
    width: 100%;
}

.px-post-preview-blurred {
    position: absolute;
    top: 0px;
    left: 0px;
    filter: brightness(0.4) blur(10px);
    mask-image: linear-gradient(transparent, transparent 70%, white 85%, white);
    transform: scale(1.014);
}

.px-post-details {
    word-break: break-word;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 48px);
    width: calc(100% - 48px);
    position: absolute;
    top: 24px;
    padding: 24px;
    box-sizing: border-box;
    pointer-events: none;
}

.px-post-details > * {
    pointer-events: auto;
}

.px-post-description .px-post-title {
    color: white;
    font-size: 52px;
    margin: 12px 0;
    font-weight: 200;
}

.px-post-tag {
    display: inline-block;
    background-color: #e83c6c;
    color: white;
    padding: 4px 7px;
    border-radius: 4px;
    margin-top: 8px;
    font-weight: 300;
}

.px-post-fade {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 0px;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
    display: none;
}

.px-post-tag:not(:last-child) {
    margin-right: 8px;
}

.px-action-button.px-button-favourite {
    --bg-color: #e83c6c;
    --bg-color-hover: #c23054;
}

.px-action-button.px-button-report {
    --bg-color: #a76ada;
    --bg-color-hover: #65248b;
}

.px-action-button.px-button-download {
    --bg-color: #4dbc59;
    --bg-color-hover: #16913f;
}

.px-action-button.px-button-edit {
    --bg-color: #b39a1f;
    --bg-color-hover: #957027;
}