.px-search-box > input {
    padding: 1px 12px;
    background-color: rgba(24, 24, 24, 0.6);
    border: 1px solid rgba(24, 24, 24, 0.2);
    border-radius: 4px;
    color: white;
    width: 100%;
    height: 100%;
    font-family: 'Fira Sans';
}

.px-search-suggestion-box {
    position: absolute;
    background-color: var(--background-color);
    padding: 0px;
}

.px-search-suggestion-item {
    padding: 4px 12px;
    font-weight: 300;
    list-style: none;
}

.px-search-suggestion-item.px-active {
    background-color: var(--main-color);
}

.px-search-suggestion-item:hover {
    background-color: var(--main-color);
}