.px-window {
    --margin: 12px;
    z-index: 10001;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: var(--margin);
    animation: px-appear 0.1s ease-out;
}

.px-window.px-disappearing {
    opacity: 0;
    animation: px-disappear 0.1s ease-out;
    pointer-events: none;
}

.px-window > div {
    padding: 24px;
    background-color: rgba(32, 32, 32, 0.96);
    box-shadow: 0 0 30px 2px black;
    box-sizing: border-box;
}

.px-window .px-window-button {
    position: absolute;
    right: 16px;
    top: 16px;
}

/* Fullscreen */

.px-window.px-fullscreen {
    width: calc(100% - var(--margin) * 2);
    height: calc(100% - var(--margin) * 2);
    left: 0;
    top: 0;
    transform: none;
}

.px-fullscreen > div {
    width: 100%;
    height: 100%;
}

/* Animations */ 

@keyframes px-appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes px-disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}